# import libaries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

# Reading the data from csv file

In [2]:
dataframe = pd.read_csv("housePrice.csv")
dataframe.head(10)

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
5,70,2,True,True,False,North Program Organization,2.050000e+09,68333.33
6,87,2,True,True,True,Pardis,6.000000e+08,20000.00
7,59,1,True,True,True,Shahran,2.150000e+09,71666.67
8,54,2,True,True,False,Andisheh,4.930000e+08,16433.33
9,71,1,True,True,True,West Ferdows Boulevard,2.370000e+09,79000.00

### Convert boolean values to numbers for Parking, Warehouse and Elevator properties

In [3]:
dataframe['Parking'] = dataframe['Parking'].astype(int)
dataframe['Warehouse'] = dataframe['Warehouse'].astype(int)
dataframe['Elevator'] = dataframe['Elevator'].astype(int)
dataframe.head(10)

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,1,1,1,Shahran,1.850000e+09,61666.67
1,60,1,1,1,1,Shahran,1.850000e+09,61666.67
2,79,2,1,1,1,Pardis,5.500000e+08,18333.33
3,95,2,1,1,1,Shahrake Qods,9.025000e+08,30083.33
4,123,2,1,1,1,Shahrake Gharb,7.000000e+09,233333.33
5,70,2,1,1,0,North Program Organization,2.050000e+09,68333.33
6,87,2,1,1,1,Pardis,6.000000e+08,20000.00
7,59,1,1,1,1,Shahran,2.150000e+09,71666.67
8,54,2,1,1,0,Andisheh,4.930000e+08,16433.33
9,71,1,1,1,1,West Ferdows Boulevard,2.370000e+09,79000.00

#### Data standardization

In [4]:
def str_to_float(x):
    return float(str(x).replace(',', ''))

#### Convert "Area" values to decimal numbers and Delete rows that have an incorrect Area

In [5]:
dataframe['Area'] = dataframe['Area'].apply(str_to_float)
dataframe = dataframe[dataframe['Area'] < 1000]

#### Convert "Price" values to decimal numbers

In [ ]:
dataframe['Price'] = dataframe['Price'].apply(str_to_float)
dataframe['Price(USD)'] = datafrmae['Price(USD)'].apply(str_to_float)

#### Delete rows that do not have an address

In [6]:
dataframe = dataframe.dropna(subset=['Address'])

### Creating train and test dataset

In [8]:
msk = np.random.rand(len(dataframe)) < 0.8
train = dataframe[msk]
test = dataframe[~msk]

## Polynomial Regression

In [9]:
train_x = np.asanyarray(train[['Area', 'Room', 'Parking', 'Warehouse', 'Elevator']])
train_y = np.asanyarray(train[['Price']])

test_x = np.asanyarray(test[['Area', 'Room', 'Parking', 'Warehouse', 'Elevator']])
test_y = np.asanyarray(test[['Price']]) 

poly = PolynomialFeatures(degree = 2)
train_x_poly = poly.fit_transform(train_x)
train_x_poly

array([[  1.,  63.,   1., ...,   1.,   1.,   1.],
       [  1.,  60.,   1., ...,   1.,   1.,   1.],
       [  1.,  79.,   2., ...,   1.,   1.,   1.],
       ...,
       [  1.,  75.,   2., ...,   0.,   0.,   0.],
       [  1., 105.,   2., ...,   1.,   1.,   1.],
       [  1.,  82.,   2., ...,   1.,   1.,   1.]])

In [11]:
regr = linear_model.LinearRegression()
regr.fit(train_x, train_y)
train_y_ = regr.fit(train_x_poly, train_y)

# The coefficients
print ('Coefficients: ', regr.coef_)
# The intercept
print ('Intercept: ', regr.intercept_)

Coefficients:  [[ 0.00000000e+00  7.36562397e+07 -5.91547415e+09  3.97956224e+08
  -4.92701455e+08 -1.87886315e+08 -9.29877185e+04  2.56587001e+07
  -5.46669479e+07 -5.75427282e+05  6.03486777e+07  2.66534119e+08
   1.98917019e+09  9.61144217e+08 -1.88369247e+09  3.97956224e+08
   4.01991168e+08  4.40605528e+07 -4.92701455e+08 -5.99158205e+08
  -1.87886315e+08]]
Intercept:  [1.78177914e+09]

# Evaluation

In [13]:
test_x_poly = poly.fit_transform(test_x)
test_y_ = regr.predict(test_x_poly)

print("R2-score: %.2f" % r2_score(test_y,test_y_ ) )

R2-score: 0.70